<h1 style="text-align: center; color: aliceblue; padding-top: 30px; padding-bottom: 50px;">Information Regulatory and Development Authority</h1>

<div class="container shadow my-2 mx-auto pt-3 pb-3 text-center bg-body-secondary" style="width: 40%; border-radius: 5%; ">
    <h2>Welcome!</h2>
    <br>
    <p>The Insurance Regulatory and Development Authority of India 
        is a statutory body under the jurisdiction of Ministry of Finance, 
        Government of India and is tasked with regulating and licensing the 
        insurance and re-insurance industries in India.</p> 
</div>